
<h1>Contato</h1>

<p>Lista de discussão OpenData-BR, 
<a href="http://groups.google.com/group/opendata-br?pli=1">
http://groups.google.com/group/opendata-br?pli=1</a></p>

<h2>Rede Nossa São Paulo</h2>

<p>Caso deseje entrar em contato com a Rede Nossa São Paulo envie uma mensagem para faleconosco@isps.org.br</p>

<p>Secretaria Executiva da Rede Nossa São Paulo:</p>
<p>Rua Francisco Leitão, 469 - conj. 1407 - CEP 05414-020 - Telefone: 3894-2400</p>

<br/><br/>
